.xcodebuild/
*.xcresult
DerivedData/
.claude/
CLAUDE.md
*.command
dist/
.vscode/
.build/
Frameworks/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcshareddata/
*.xcodeproj/xcuser
Contents/
Sources/
*.pbxproj
metal/
Metal.x
.idea/
docs/